.instructions-container {
  min-height: 80vh;
  background-color: #f9f9f9;

}

.instructions-card {
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.instructions-list {
  list-style-type: none;
  padding: 0;
  margin: 0 0 2rem 0;
  font-size: 15px;
  color: #555;
  text-align: center;
}

.instructions-list li {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}


.start-quiz-button {
  padding: 0 2rem;
  height: 40px;
  font-size: 16px;
  border-radius: 8px;
}